<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= RESTAURANT.name %></title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1><%= RESTAURANT.name %></h1>
    <% if (isOpen = true) { %>
        <p><i>Yes, we are open!</i></p>
    <% } else { %>
        <p><i>Sorry, we are closed</i></p>
    <% } %>
    <p><%= RESTAURANT.name %></p>
    <p><%= RESTAURANT.address %></p>
    <p><%= RESTAURANT.phone %></p>
</body>
</html>
